.shadow {
    box-shadow: 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}